@media (max-width: 1000px){
	.burger-icon{
		display: block;
	}
	.nav{
		display: none;
	}
}

@media (max-width: 1000px){
	.fa-search{
		display: none;
	}
}

@media(max-width: 1000px){
	.img-block{
		display: block;
	}
	.img{
		display: none;
	}
}

@media(max-width: 800px){
	form{
		margin-left: 0px;
		flex-direction: column;
	} 
}


@media(max-width: 1000px){
	footer{
		height: auto;
		flex-direction: column;
	} 

	.f-text{
		margin-top: 50px;
		margin-left: 0px;
	}

	.f-text-2{
		margin-top: 50px;
		margin-left: 0px;	
	}

	.icones{
		margin-top: 50px;
		margin-left: 0px
	}
}