/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 1640px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 52px;
	width: 122px;
	height: 95.04px;
}

.nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 555px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	color: #707070;
	font-size: 20px;
	margin-top: 73px;
}

.burger-icon{
	display: none;
}

.mobile-nav{
	display: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 20px;
	display: none;
	background-color: #F2F2F2;
	padding: 20px;
}

.burger-nav{
	list-style: square;	
}

.fa-search{
	width: 25.5px;
	height: 25.5px;
	color: #707070;
}

.burger-icon:hover .mobile-nav{
	display: block;
}

.fa-bars{
	color: #707070;
	margin-top: 50px;
	margin-left: 100px;
}

/*section-1*/

.img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 608px;
	padding: 65px 140px 49px 140px;
}

.img-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1640px;
}

.img-block{
	display: none;
}

/*forms*/

form{
	margin-left: 229.7px;

}

input[type=text], select {
  width: 730.26px;
  height: 69.66px;
  padding: 15.1px 526.7px 23.6px 9.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #F2F2F2;
  border-radius: 4px;
  font-size: 23px;
}

label{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 12px;
	margin-top: 17.5px;
	font-size: 23px;

}

input[type=email], select {
  width: 730.26px;
  height: 69.66px;
  padding: 15.1px 526.7px 23.6px 9.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #F2F2F2;
  border-radius: 4px;
  font-size: 23px;
}

textarea{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  border: 3px solid #F2F2F2;
  border-radius: 4px;
  width: 731.42px;
  height: 112.62px;
}

button{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  border: 3px solid #F2F2F2;
  border-radius: 4px;
  margin-top: 40.8px;
  width: 150.93px;
  height: 52.24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12px;
  background-color: #2E2E2E;
  color: white;
  font-size: 21px;
}

/*footer*/

footer{
	background-color: #2E2E2E;
	max-width: 1920px;
	width: 100%;
	height: 207px;
	margin-top: 223px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.white-logo{
	margin: 56px 140px;
}

.f-text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 374px;
	color: white;
}

.f-text-1{
	font-size: 20px;
	margin-bottom: 10px;
}

.c-info{
	font-size: 13px;
}

.f-text-2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 363px;
	color: white;
}

.icones{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: white;
	margin: 81px 140px 81px;
}

.fa-facebook{
	font-size: 43.95px;
}

.fa-instagram{
	font-size: 43.95px;
	padding-left: 10px;
}